################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solid-principles-dotnet/.vs/solid-principles-dotnet/FileContentIndex
